- var aList = ["Home", "About me", "Skills", "Portfolio", "Contacts"]

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title web developer
    body
        nav
            .navigation
                each item in aList
                    a.navigation__element(href="")=item