- var linkList = ["Home", "About me", "Skills", "Portfolio", "Contacts"]
nav
                .block
                    .navigation
                        each item in linkList
                            a(class="navigation__element "+item href="#"+item)=item